name: Trigger n8n workflow

on:
  schedule:
    - cron: "*/5 * * * *"  # every 5 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping n8n webhook
        run: curl -X GET "https://n8n-dhne.onrender.com/webhook/ce2635bf-3038-4432-9e8f-8835bd76de8e"
